.claude/
.git/
.github/
.idea/
.superpowers/
.vscode/
coverage/
dist/
docs/
node_modules/
scripts/
test/
*.md
*.tsbuildinfo
.DS_Store
.czrc
.dockerignore
.editorconfig
.knip.jsonc
.lockfile-lintrc.json
.mcp.json
.npmpackagejsonlintrc.json
.nvmrc
.pgmigrate.json
.sql-formatter.json
Dockerfile
LICENSE
biome.jsonc
compose.yaml
config/local*
logo.png
npm-debug.log*
redocly.yaml
vitest.config.ts
